<p>Hello and welcome to my personal website. I am keeping this blog for the time directly after I graduated from Seattle University with a Degree in Economics. Is this site about economics? No! I have decided in the last six months to pursue programming instead of further degrees in economics. The few programming tools I learned while studying for my degree allowed me to do some pretty magical things and I would like to continue learning.</p>

<p>I will be posting here about my experiences at <a href="https://www.adadevelopersacademy.org" alt="Ada Developer's Academy">Ada Developer's Academy</a> learning how to code.</p>

<p>If you like reading about someone trying to learn a new thing and figuring out how to learn anything and everything in the first place, follow away! This blog will contain the tales of beautiful struggles:</p>

<ul>
	<li>The struggle to learn a complex skill-set;</li>
	<li>The struggle to find my place in what I see as an unbalanced and unequal world (and then dismantle systems from that place), and;</li>
	<li>My struggle just to maintain my mental and physical health somewhere in there.</li>
</ul>

<img src="tina_roll.gif" alt= "Tina Belcher rolling" width="auto" height="150px" />

<p>Feel free to contact me below!</p>

<img src="tina_phone.gif" alt= "Tina Belcher giving her phone number" width="auto" height="150px" />