<!DOCTYPE html>
<html>
	<head>
		<title>Blog Post</title>
	</head>

	<body>
		<header>
			<nav><a href="index.html">Home</a> | <a href="projects.html">Projects</a> | <a href="about.html">About</a> | <a href="blog.html">Blog</a></nav>
			<h2>One Month Completed at Ada Academy!</h2>
		</header>
		<article>
			<section>
				<time><em>Date: Monday, October 26, 2015</em></time>
				<p>Git, Gems, Rspec... oh my! It's hard to believe that it has already been one month at Ada Developers Academy. It's even harder to believe that a new, fifth-round of Adies will soon be joining us in our new space. I hope that some of you reading out there applied or are planning on applying.</p>
				<p></p>
				<p></p>
			</section>
		</article>
				
		<aside>
			<h3>Find me Around</h3>
			<ul>
				<li><a href="https://www.github.com/loganmeetsworld">Github</a></li>
				<li><a href="https://www.twitter.com/loganmeetsworld">Twitter</a></li>
				<li><a href="http://linkedin.com/in/mcdonaldlogan">LinkedIn</a></li>
				<li><a href="https://www.instagram.com/loganmeetsworld">Instagram</a></li>
			</ul>
		</aside>

		<footer>
			<p>Copyright &copy; 2015 Logan McDonald. All rights reserved.</p>
		</footer>

	</body>
</html>