<p><em>Date: Monday, October 26, 2015</em></p>
<p>Git, Gems, Rspec... oh my! It's hard to believe that it has already been one month at Ada Developers Academy. It's even harder to believe that a new, fifth-round of Adies will soon be joining us in our new space. I hope that some of you reading out there applied or are planning on applying.</p>