<!DOCTYPE html>
<html>
	<head>
		<title>Blog Post</title>
	</head>
	
	<body>
		<article>
			<section>
				<h2>One Month Completed at Ada Academy!</h2>
				<time><em>Date: Monday, October 26, 2015</em></time>
				<p>Git, Gems, Rspec... oh my! It's hard to believe that it has already been one month at Ada Developers Academy. It's even harder to believe that a new, fifth-round of Adies will soon be joining us in our new space. I hope that some of you reading out there applied or are planning on applying.</p>
				<p></p>
				<p></p>
			</section>
		</article>
				

		<secion>
			<p><a href="blog.html">Back to Blogs.</a></p>
			<p><a href="index.html">Return to the Home Page</a></p>
		</secion>

		<footer>
			<p>Copyright 2015: Logan McDonald</p>
			<p>
			Contact Logan on:
				<a href="https://www.instagram.com/loganmeetsworld">Instagram</a>
				<a href="https://www.twitter.com/loganmeetsworld">Facebook</a>
				<a href="https://www.github.com/loganmeetsworld">Github</a>
			</p>
		</footer>
	</body>
</html>