<!DOCTYPE html>
<html>
	<head>
		<title>Blog</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="author" content="Logan McDonald">
	</head>
	<body>

		<header>
			<nav><a href="index.html">Home</a> | <a href="projects.html">Projects</a> | <a href="about.html">About</a> | <a href="blog.html">Blog</a></nav>
			<h1>Blog Archive</h1>
			<img src="tina_writes.gif" width="auto" height="150px" />
		</header>

		<table border="1">
		  <thead>
		    <tr>
		      <th colspan="7">
		        Blog Calendar
		      </th>
		    </tr>
		    <tr>
		      <th>Sun</th>
		      <th>Mon</th>
		      <th>Tue</th>
		      <th>Wed</th>
		      <th>Thu</th>
		      <th>Fri</th>
		      <th>Sat</th>
		    </tr>
		  </thead>
		  <tr>
		  	<td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td>1</td>
		    <td><a href="http://loganmcdonald.me/2015/09/29/ada-week-1/">2</a></td>
		    <td>3</td>
		  </tr>
		  <tr>
		    <td>4</td>
		    <td>5</td>
		    <td>6</td>
		    <td>7</td>
		    <td>8</td>
		    <td>9</td>
		    <td>10</td>
		  </tr>
		  <tr>
		   	<td>11</td>
		    <td>12</td>
		    <td>13</td>
		    <td>14</td>
		    <td>15</td>
		    <td>16</td>
		    <td>17</td>
		  </tr>
		  <tr>
		   	<td>18</td>
		    <td>19</td>
		    <td>20</td>
		    <td>21</td>
		    <td>22</td>
		    <td>23</td>
		    <td>24</td>
		  </tr>
		  <tr>
		   	<td>25</td>
		    <td><a href="blog_post.html">26*</a></td>
		    <td>27</td>
		    <td>28</td>
		    <td>29</td>
		    <td>30</td>
		    <td>31</td>
		  </tr>
		</table>

		<aside>
			<h3>Find me Around</h3>
			<ul>
				<li><a href="https://www.github.com/loganmeetsworld">Github</a></li>
				<li><a href="https://www.twitter.com/loganmeetsworld">Twitter</a></li>
				<li><a href="http://linkedin.com/in/mcdonaldlogan">LinkedIn</a></li>
				<li><a href="https://www.instagram.com/loganmeetsworld">Instagram</a></li>
			</ul>
		</aside>

		<footer>
			<p>Copyright &copy; 2015 Logan McDonald. All rights reserved.</p>
		</footer>

	</body>
</html>