<!-- <!DOCTYPE html>
<html>
	<head>
		<title>Logan Meets World</title>
		<link href="css/main.css" rel="stylesheet" type="text/css">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	</head>

	<body>
		<header>
			<nav class="main-nav"><a href="index.html">Home</a> | <a href="projects.html">Projects</a> | <a href="about.html">About</a> | <a href="blog.html">Blog</a></nav>
			<section id="hero">
				<h1>Logan Meets World</h1>
				<img src="me.jpg">
				<h2>The Personal Website of Logan McDonald</h2>
			</section>
		</header> -->

<!-- 		<section id="main-content"> -->
			<h3>Logan Meets World?</h2>
			<p>Welcome to my personal website dedicated to hosting my writing, code, and opinionatedness on the internet. I am a recent college grad living in Seattle. I love data and information and using them to make the world a better place for everyone. Here are some of the great things you can enjoy on this website:</p>
			<ul>
				<li><a href="projects.html">Projects</a></li>
				<li><a href="about.html">About Logan</a></li>
				<li><a href="blog.html">Logan's Blog</a></li>
			</ul>

			<h3>World Meets Logan?</h2>
			<img src="tina_charm.gif" width="auto" height="150px" />
			<p>I am a student at a software school in Seattle, learning to code, learning to be an adult, learning to be a good person. I am passionate about data, code, accessibility, and Hamilton the musical. My views are constantly evolving and changing as I meet more of the world. I love meeting people and listening to them talk to me about what they are interested in.</p>
<!-- 		</section> -->
<!-- 
		<section id="social">
			<div class="container">
				<h3>Find Logan Around the Inter-Webs</h3>
					<a href="https://www.github.com/loganmeetsworld">Github</a> | <a href="https://www.twitter.com/loganmeetsworld">Twitter</a> | <a href="http://linkedin.com/in/mcdonaldlogan">LinkedIn</a> | <a href="https://www.instagram.com/loganmeetsworld">Instagram</a>
				</ul>
			</div>
		</section>

		<footer>
			<p>Copyright &copy; 2015 Logan McDonald. All rights reserved.</p>
		</footer>

	</body>
</html> -->