<!DOCTYPE html>
<html>
	<head>
		<title>Logan Meets World</title>
		<link href="" rel= "" type= "" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	</head>

	<body>
		<header>
			<nav><a href="index.html">Home</a> | <a href="projects.html">Projects</a> | <a href="about.html">About</a> | <a href="blog.html">Blog</a></nav>

			<h1>Hello, Logan</h1>
			<h2>The Personal Website of Logan McDonald</h2>
		</header>

		<section>
			<h3>Logan Meets World?</h2>
			<p>Welcome to my personal website dedicated to hosting my writing, code, and opinionatedness on the internet. Here are some of the great things you can enjoy on this website:</p>
			<ul>
				<li><a href="projects.html">Projects</a></li>
				<li><a href="about.html">About Logan</a></li>
				<li><a href="blog.html">Logan's Blog</a></li>
			</ul>

			<h3>World Meets Logan?</h2>
			<img src="tina_charm.gif" width="auto" height="150px" />
			<p>I am a student at a software school in Seattle, learning to code, learning to be an adult, learning to be a good person. I am passionate about data, code, accessibility, and Hamilton the musical. My views are constantly evolving and changing as I meet more of the world. I love meeting people and listening to them talk to me about what they are interested in.</p>
		</section>

		<aside>
			<h3>Find me Around</h3>
			<ul>
				<li><a href="https://www.github.com/loganmeetsworld">Github</a></li>
				<li><a href="https://www.twitter.com/loganmeetsworld">Twitter</a></li>
				<li><a href="http://linkedin.com/in/mcdonaldlogan">LinkedIn</a></li>
				<li><a href="https://www.instagram.com/loganmeetsworld">Instagram</a></li>
			</ul>
		</aside>

		<footer>
			<p>Copyright &copy; 2015 Logan McDonald. All rights reserved.</p>
		</footer>
		
	</body>
</html>
