<!DOCTYPE html>
<html>
	<head>
		<title>Logan Meets World</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	</head>

	<body>
		<header>
			<h1>Logan Meets World</h1>
			<h2>The Personal Website of Logan</h2>
			<img src="me.jpg"/ width="40%" height="auto", image-orientation: "from-image">
		</header>

	<section>
			<p>Welcome the personal website of Logan McDonald. Here you can find  information about Logan, what she's doing at Ada Devevlopers Academy, blog posts on coding, and a full list of ongoing projects. You can find contact information for Logan on her about page. Enjoy!</p>
			<ul>
				<li>
					<a href="projects.html">Projects</a>
				</li>
				<li><a href="about.html">About Logan</a></li>
				<li><a href="blog.html">Logan's Blog</a></li>
			</ul>
	</section>

	<footer>
			<p>Copyright 2015: Logan McDonald</p>
			<p>
			Contact Logan on:
				<a href="https://www.instagram.com/loganmeetsworld">Instagram</a>
				<a href="https://www.twitter.com/loganmeetsworld">Facebook</a>
				<a href="https://www.github.com/loganmeetsworld">Github</a>
			</p>
		</footer>

	</body>
</html>