<form action="" method="post" accept-charset="utf-8">
  <label for="username">Username</label>
  <input type="text" name="username" value="" id="username">

  <label for="fave-animal">Favorite Animal</label>
  <input type="text" name="fave-animal" value="" id="fave-animal">

  <input type="submit" value="Submit">
</form>