<!DOCTYPE html>
<html>
	<head>
		<title>Projects</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	</head>
	<body>

		<h1>Projects</h1>

			<p>Here is a showcase of my current and ongoing projects for Ada Developers Academy. All of my projects can be found on my <a href="https//www.github.com/loganmeetsworld">Github page</a> as well.</p> 
			<img src="pi.jpg">

		<h2>Current Projects</h2>
			<ol>
				<li>Building this Website!</li>
				<li>Working on a Raspberry Pi that lights up when I recieve emails.</li>
				<li>One word: hoverboards</li>
				<li>Learning how to build web applications</li>
			</ol>
		<h2>Completed Projects</h2>
			<ol>
				<li><a href="https://gist.github.com/loganmeetsworld/d84e60e18d606272a6dc">Calculator app that takes user input.</a></li>
				<li><a href="https://github.com/loganmeetsworld/Scrabble/tree/lmah/master">Scrabble game</a></li>
				<li><a href="https://github.com/loganmeetsworld/Word-Guess/tree/lmm/master">Word Guess game</a></li>
				<li><a href="https://gist.github.com/loganmeetsworld/3c6105d6f0599c77e959">Baby dragon app</a></li>
				<li><a href="https://github.com/loganmeetsworld/FarMar/tree/lmm/master">Farmer's Market lookup</a></li>
			</ol>
			
		</body>
		
		<secion>
			<p><a href="index.html">Return to the Home Page</a></p>
		</secion>

		<footer>
			<p>Copyright 2015: Logan McDonald</p>
			<p>
			Contact Logan on:
				<a href="https://www.instagram.com/loganmeetsworld">Instagram</a>
				<a href="https://www.twitter.com/loganmeetsworld">Facebook</a>
				<a href="https://www.github.com/loganmeetsworld">Github</a>
			</p>
		</footer>

	</body>
</html>