@import url('https://fonts.googleapis.com/css?family=Lato|Tangerine|Inconsolata|Droid+Sans|Raleway');

body {
  font-family: sans-serif;
  font-size: 14px;
  padding: 0px;
  width: 100%; 
  background-color: #FFF;
  margin-left: auto;    
  margin-right: auto;
}

a:link {color: #5D4461}
a:visited {color: #AB7475}

.main-nav {
  text-align:center;
  font-size: 30px;
  font-family: Inconsolata, Lato, Tangerine, sans-serif;
  color:#DA877C;
  height: 70px;
  width: 100%;
  margin-top: 0px
  margin-bottom: 0px;
}

h1 {  
  text-align: center;
  color: #DA877C;
  font: bold 75px Inconsolata, Lato, Tangerine, sans-serif;
  margin: 40px 0px 0px 0px;
}

h2 {
  font: 50px Inconsolata, Lato, sans-serif;
  text-align: center;
  color: #DA877C;
  margin: 0px 0px 60px 0px;
}

h3 {
  font: bold 30px Inconsolata, Lato, Tangerine, sans-serif; 
  text-align: left; 
  color: #5D4461;
  margin: 40px 0px 40px 0px;
}

h3.blog {
  text-align: center;
}

#hero {
  text-align: center;
  color: #fafafa;
  background-size: cover;
  height: auto;
  padding: 0px;
}

  #hero img {
    border: 4px solid white;
    border-radius: 40%;
    margin-top: 10px;
    width: 100%;
    max-width: 180px; 
    margin-top: 60px;
    margin-bottom: 60px; 
  }

.main-content {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

p, ul, li, ol {    
  font-size: 20px; 
  font-family: Raleway, Lato, Arial, sans-serif;
}

img {
  display: block;    
  margin-left: auto;   
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
  align: center;
  border: 5px solid #DA877C;
  border-collapse: collapse;
  font-family: Lato, sans-serif;
}

thead {
  text-align: center;
  font-size: 2em;
  background-color: #FFF;
}

td {
  text-align: center;
  font-size: 1.5em;
  width: auto;
}

td, th {
  text-align: left;
  padding: 10px;
}

#social {
  text-align:center;
  background-color: #DA877C;
  font-size: 30px;
  font-family: Inconsolata, Lato, Tangerine, sans-serif;
  color:#FBD7A1;
  height: 120px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0px;
  background-size: cover;
}

  #social h3 {
    text-align: center;
    margin-top: 10px;
  }

footer {
  background-color: #DA877C;
  color: #FBD7A1;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}